# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

resources:
  repositories:
    - repository: 1esPipelines
      type: git
      name: 1ESPipelineTemplates/1ESPipelineTemplates
      ref: refs/tags/release

extends:
  template: v1/1ES.Official.PipelineTemplate.yml@1esPipelines
  parameters:
    sdl:
      sourceAnalysisPool: 1es-oss-windows-2022-x64
      tsa:
        enabled: true
    stages:
      - stage: Build
        jobs:
        - job: Linux
          pool:
            name: 1es-oss-ubuntu-22.04-x64
            os: Linux
          steps:
          - task: NodeTool@0
            inputs:
              versionSpec: 20.x
            displayName: 'Install Node.js'
          - script: npm ci
            displayName: 'Install dependencies and build'
          - script: node scripts/prebuild.js --populate
            displayName: 'Copy prebuild artifacts'
          - script: npm test
            displayName: 'Test'
          - script: npm run lint
            displayName: 'Lint'

        - job: macOS
          pool:
            name: Azure Pipelines
            vmImage: 'macOS-14'
            os: macOS
          steps:
          - task: NodeTool@0
            inputs:
              versionSpec: 20.x
            displayName: 'Install Node.js'
          - script: python3 -m pip install setuptools
            displayName: Install setuptools (macOS)
          - script: npm ci
            displayName: 'Install dependencies and build'
          - script: node scripts/prebuild.js --populate
            displayName: 'Copy prebuild artifacts'
          - script: npm test
            displayName: 'Test'
          - script: npm run lint
            displayName: 'Lint'

        - job: Windows
          pool:
            name: 1es-oss-windows-2022-x64
            os: Windows
          steps:
          - task: NodeTool@0
            inputs:
              versionSpec: 20.x
            displayName: 'Install Node.js'
          - script: npm ci
            displayName: 'Install dependencies and build'
          - script: node scripts/prebuild.js --populate
            displayName: 'Copy prebuild artifacts'
          - script: npm test
            displayName: 'Test'
          - script: npm run lint
            displayName: 'Lint'
